
<div class="project">
	<div class="row">
		<div class="span12 sub_header">
			<h1>PROFILE TITLE</h1>&nbsp;&nbsp;&nbsp;&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<h5>Organization</h5>
			<h5>San Francisco</h5>
				<h4 class="underline" style="margin-top: 1em;">ABOUT</h4>
				<p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac mi eget diam commodo cursus ac vitae dolor. Morbi tincidunt dapibus lectus, vehicula luctus tortor varius at. Maecenas tempor tellus in nibh dignissim, vel auctor velit tincidunt. Aliquam eget tempor elit. Sed pharetra viverra felis, eget blandit magna lacinia et. Vivamus ullamcorper, lacus ut cursus sollicitudin, lorem velit dignissim purus, in dapibus neque lectus nec lorem. Sed mollis tortor nisl, at convallis nibh sodales eu. Praesent imperdiet turpis ac lectus viverra, a fermentum ipsum tincidunt. Curabitur eu luctus sapien. Etiam et nibh in dui pulvinar tempor at at felis. In eget metus dignissim, facilisis ipsum sit amet, dictum nisi. Pellentesque luctus non ante sed vehicula.Vivamus sed felis vulputate, tempor magna ut, commodo metus. Proin vel libero pulvinar, mattis nibh eget, laoreet velit. Nullam vulputate venenatis turpis vel aliquet. Aliquam elit lectus, aliquam at tempor id, venenatis suscipit massa. Ut vitae rutrum leo. Phasellus et dignissim nibh, ut ornare mi. Morbi ut eros aliquet, congue nulla quis, suscipit metus. Suspendisse in quam sed augue euismod porttitor et nec ligula.</p>
		</div>
		<div class="span8">
			<h4 class="underline">PROFILE'S PROJECTS</h4>
			<div class="span3 info_box">
			    <h2 style="display: inline;">Project Title</h2>
			    <div>
				</div>
			    <div class="image_thmbnl"></div>
			    <em>Location</em>
			    <span class="label" style="margin-bottom: .5em; margin-top: .4em;">TAGS</span>
			    <div class="description">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac mi eget diam commodo cursus ac vitae dolor.&nbsp;&nbsp;<em>read more</em></div>
		  </div>
		  <div class="span3 info_box">
			    <h2 style="display: inline;">Project Title</h2>
			    <div>
				</div>
			    <div class="image_thmbnl"></div>
			    <em>Location</em>
			    <span class="label" style="margin-bottom: .5em; margin-top: .4em;">TAGS</span>
			    <div class="description">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac mi eget diam commodo cursus ac vitae dolor.&nbsp;&nbsp;<em>read more</em></div>
		  </div>
		  <div class="span3 info_box">
			    <h2 style="display: inline;">Project Title</h2>
			    <div>
				</div>
			    <div class="image_thmbnl"></div>
			    <em>Location</em>
			    <span class="label" style="margin-bottom: .5em; margin-top: .4em;">TAGS</span>
			    <div class="description">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac mi eget diam commodo cursus ac vitae dolor.&nbsp;&nbsp;<em>read more</em></div>
		  </div>
		  <div class="span3 info_box">
			    <h2 style="display: inline;">Project Title</h2>
			    <div>
				</div>
			    <div class="image_thmbnl"></div>
			    <em>Location</em>
			    <span class="label" style="margin-bottom: .5em; margin-top: .4em;">TAGS</span>
			    <div class="description">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac mi eget diam commodo cursus ac vitae dolor.&nbsp;&nbsp;<em>read more</em></div>
		  </div>
		</div>
		
	</div>	
</div>





