<div class="StaticPages">
<br>
<h2>OPENURBAN MAKES NO GUARANTEE OF VALIDITY</h2><br><br>
<p>This "Disclaimer" sets forth the terms and conditions that apply to your use of OpenUrban.com (the "Web Site"). By using the Web Site (other than to read this page for the first time), you agree to comply with all of the Terms of Use set forth herein. The right to use the Web Site is personal to you and is not transferable to any other person or entity.</p><br>

<h2>Introduction</h2>
<ul>
	<li>OpenUrban.com is an online database for information on urban development.</li>
	<li>Anyone with an Internet connection may alter the content on OpenUrban.com (the "Web Site").</li>
	<li>OpenUrban cannot guarantee the validity of the information found here.</li>
	<li>OpenUrban is built as a collaborative effort by its user community. While we make every effort to fact-check, information found here should be considered anecdotal. You should always cross-check against other references.</li>
</ul><br>

<h2>Links to Third-Party Web Site</h2>
<p>OpenUrban may provide hyperlinks to third-party web sites as a convenience to users of the Web Site. OpenUrban does not control third-party web sites and is not responsible for the contents of any linked-to, third-party web sites or any hyperlink in a linked-to web site. OpenUrban does not endorse, recommend or approve any third-party web site hyper linked from the Web Site. OpenUrban will have no liability to any entity for the content or use of the content available through such hyperlink.</p><br>

<h2>No Representations or Warranties; Limitations on Liability</h2>
<p>The information and materials on the Web Site could include technical inaccuracies or typographical errors. Changes are periodically made to the information contained herein. OpenUrban MAKES NO REPRESENTATIONS OR WARRANTIES WITH RESPECT TO ANY INFORMATION, MATERIALS OR GRAPHICS ON THE WEB SITE, ALL OF WHICH IS PROVIDED ON A STRICTLY "AS IS" BASIS, WITHOUT WARRANTY OF ANY KIND AND HEREBY EXPRESSLY DISCLAIMS ALL WARRANTIES WITH REGARD TO ANY INFORMATION, MATERIALS OR GRAPHICS ON THE WEB SITE, INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. UNDER NO CIRCUMSTANCES SHALL THE SITE OWNER OR PUBLISHER BE LIABLE UNDER ANY THEORY OF RECOVERY, AT LAW OR IN EQUITY, FOR ANY DAMAGES, INCLUDING WITHOUT LIMITATION, SPECIAL, DIRECT, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES (INCLUDING, BUT NOT LIMITED TO LOSS OF USE OR LOST PROFITS), ARISING OUT OF OR IN ANY MANNER CONNECTED WITH THE USE OF INFORMATION OR SERVICES, OR THE FAILURE TO PROVIDE INFORMATION OR SERVICES, FROM THE WEB SITE.</p><br>

<h2>Supplementary Information</h2>
<ul>
	<li>By using OpenUrban, you accept that anything posted on the website is editable by others</li>
	<li>There is no guarantee of accuracy
	<li>While editors do their best to post accurate data, some errors may occur</li>
	<li>The content of any article may have been changed by someone who does not have a high level of experiance</li>
	<li>Content may also be vandalized and thus contain misleading information</li>
	<li>OpenUrban is editable without peer review. There may be inaccurate content from time to time</li>
	<li>Readers may review and edit this content, but they have no legal duty to do so</li>
	<li>No one associated with OpenUrban in any way can be held responsible for any inaccurate content</li>
	<li>You accept that OpenUrban bears no liability for any problems encountered or for erroneous information found on the site</li>
	<li>Please check that any information supplied is accurate before utilizing it</li>
	<li>If you do choose to follow advice given on a page, you do so at your own risk</li>
	<li>Information is provided free of charge, there is no contract involved</li>
	<li>Trademarks or similar rights that are present on OpenUrban are the property of their respective owners</li>
</ul><br>

<h2>Changes to These Terms of Use</h2>
<p>OpenUrban reserves the right to change these Terms of Use at any time by posting new Terms of Use at this location. You can send e-mail to OpenUrban with any questions relating to these Terms of Use at <a href="mailto:info@openurban.com">info@openurban.com</a></p>