<div class="StaticPages">
<h1>FAQ</h1> <br>	

<h2>What is the purpose of OpenUrban?</h2>
<p>OpenUrban is a platform for creating and sharing projects, plans, policies and issues related to the built environment</p><br>

<h2>Why isn't there any content in my city?</h2>
<p>Because no one has entered any yet - you can be the first person! Create an account or log in.</p> <br>

<h2>Is OpenUrban non-profit or for profit?</h2>
<p>OpenUrban is a non-profit registered in the State of Washington. We are currently applying for 501(c)3 status.</p><br>

<h2>Are you looking for partnerships?</h2> 
<p>Yes! We're always looking to partner with organizations and governmental institutions who are interested in making information about cities and the built environment more accesible and open.</p>

</div>