<div class="StaticPages">
	<div class="row">
		<div class="span12">
			<h1>Guidelines</h1><br>
		</div>
		<div class="span5">
			<h2>CONTENT GUIDELINES</h2>
			<p>OpenUrban focuses on current and proposed urban development worldwide. Any content added to the site should meet this criteria. You may write about related issues, such as history, economics, or politics, but writing in these areas should be succinct and presented in relation to the core urban development topic at hand.</p>
			<ul>
				<li><strong>Map Content</strong><br>
				Anything drawn on the map should represent a physical urban change.</li>
				<li><strong>Project Page Content</strong><br>
				Content in the project page can be divided into factual and opinion based information. Factual information, which includes the map, data, and article sections should be straight forward and accurately cited.<br> The comments section is where opinions, dialogue and debate can occur.
				</li>
				<li><strong>Do not submit copyrighted material without permission!</strong></li>
			</ul><br>

		</div>
		<div class="span5 offset1">
			<h2>BEHAVIOR GUIDELINES</h2>
			<p>Participation in OpenUrban is <strong><em>voluntary</em></strong>. If you don't want to abide by these guidelines you don't have to participate. Failure to follow guidelines will result in your IP address and username being blocked at the discretion of site administrators.</p>
			<ul>
				<strong>
				<li>Abusive behavior or language is unacceptable.</li>
				<li>Intentionally adding false information is unacceptable.</li>
				<li>Deleting accurately cited information is unacceptable.</li>
				</strong>
			</ul>
			
		</div>
	</div>
</div>