<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for OpenUrban</a>
  </h2>

  <%= link_to "Create an Account!", '#', class: "btn btn-large btn-primary" %>
</div>