<div class="StaticPages">
	<h1>How To</h1><br>
	<p>Below is a list of common actions performed on OpenUrban and how to do them.</p>
	<strong><br>
	<ul>
		<li><a href="#">How to add a project page?</a></li><br>
		<li><a href="#">How to edit a project page?</a></li><br>
		<li><a href="#">How to edit the map?</a></li><br>
		<li><a href="#">How to add an image?</a></li><br>
		<li><a href="#">How to add a link?</a></li><br>
		<li><a href="#">How to edit the Twitter feed?</a></li><br>
		<li><a href="#">How to translate an existing page?</a></li><br>
	</ul>
	</strong><br>
	<p>Still have a question or suggestion? Send us an email at <a href="#">info(at)openurban(dot)com</a>.</p>
</div>