<br>
<h2>WEB SITE PRIVACY POLICY</h2><br><br>

<h2>1. Overview</h2>
<p>Your privacy is important to us, and our policy is simple: we will collect no personally identifiable information about you when you visit the Web Site unless you choose to provide that information. This Privacy Policy does not describe information collection practices on other sites, including those linked to or from the Web Site.</p><br>

<h2>2. What Type of Information We Collect</h2>
<p>The server on which the Web Site is located collects and saves only the default information customarily logged by web server software. Such information may include the date and time of your visit, the originating IP address, and the pages and images requested.</p><br>

<h2>3. Children's Issues</h2>
<p>The Web Site is not directed to children under thirteen (13) years of age, and children under such age must not use the web site or services offered on it to submit any individually identifiable information about themselves.</p><br>

<h2>4. Copyright</h2>
<p>The materials found on the Web Site are protected by United States and other copyright laws, except for works of the United States Government pursuant to 1 U.S.C. Section 105. The selection, arrangement and presentation of all materials (including information in the public domain), and the overall design of the Web Site are copyright © OpenUrban 2012. Permission is granted to use materials from OpenUrban under Creative Commons Share Alike 3.0 - Attribution</p><br>

<h2>5. Trademarks</h2>
<p>OpenUrban (is/are) trademarks or service marks of OpenUrban.com.</p><br>

<h2>6. No Warranties</h2>
<p>OpenUrban DOES NOT MAKE ANY EXPRESS OR IMPLIED WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS WHATSOEVER (INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE) WITH REGARD TO THE WEB SITE, THE MATERIALS, ANY PRODUCTS, INFORMATION OR SERVICE PROVIDED THROUGH THE WEB SITE, OR ANY SITES LISTED THEREIN, AND THE WEB SITE WILL NOT BE LIABLE FOR ANY COST OR DAMAGE ARISING EITHER DIRECTLY OR INDIRECTLY FROM ANY SUCH TRANSACTION. THE WEB SITE DOES NOT WARRANT THAT IT WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT DEFECTS IN IT WILL BE CORRECTED. THE WEB SITE IS PROVIDED ON AN "AS IS, AS AVAILABLE" BASIS.</p><br>

<p>IN NO EVENT WILL THE WEB SITE OR ITS MEMBERS, MANAGERS, OFFICERS, EMPLOYEES, AGENTS AND THE ASSIGNS OF SAME BE LIABLE FOR (1) ANY INCIDENTAL, CONSEQUENTIAL OR INDIRECT DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR INFORMATION, AND THE LIKE) ARISING OUT OF THE USE OF OR INABILITY TO USE THE WEB SITE, THE MATERIALS OR ANY INFORMATION, OR TRANSACTIONS PROVIDED ON THE WEB SITE OR DOWNLOADED FROM THE WEB SITE, EVEN IF THE WEB SITE OR ITS AUTHORIZED REPRESENTATIVES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR (2) ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS OR OTHER INACCURACIES IN THE WEB SITE, THE MATERIALS AND/OR LISTINGS OR INFORMATION DOWNLOADED THROUGH THE WEB SITE. BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN SUCH STATES, THE WEB SITE'S LIABILITY IS LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.</p><br>


<h2>7. Indemnification</h2>
<p>You agree to indemnify, defend and hold harmless the Web Site and its members, managers, officers, employees, agents and the assigns of same, from and against any and all loss, costs, expenses (including reasonable attorneys' fees and expenses), claims, damages and liabilities related to or associated with your use of the Web Site and any violation of this Privacy Policy by you.</p><br>


<h2>8. Governing Law and Jurisdiction</h2>
<p>This Privacy Policy constitutes a contract made under and shall be governed by and construed in accordance with the laws of the State of Washington.</p><br>


<h2>9. Last Update</h2>
<p>This Privacy Policy was last updated on August 3, 2012.</p><br>


<h2>10. Contact Information</h2>
<p>Questions or comments regarding the Web Site should be sent by e-mail to <a href="mailto:info@openurban.com">info(at)openurban(dot)com</a></p><br>