<div class="project">
	<div class="row">
		<div class="span12" style="margin-bottom: .3em;">
			<h1>Project Title</h1> <p>edit page</p>
		</div>
	</div>
	<div class="row">
		<div class="span9">
			<div class="row">
				<div class="span4">
					<div style="border: 1px solid black; height:200px; margin-top">
						<div class="center">IMAGE</div>
					</div>
				</div>
				<div class="span5">
					<div style="border:1px solid black; height: 200px;">
						<div class="center">MAP</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span9">
					<div style="border: 1px solid black; height: 400px; margin-top: 1em;">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam, ligula eu mattis pharetra, quam est semper risus, ut elementum ante justo sit amet turpis. Vestibulum facilisis ultrices iaculis. Ut eleifend, purus ut tincidunt commodo, nulla diam eleifend augue, et fermentum enim neque a ante. Nunc et nibh et nibh commodo ullamcorper vel at ipsum. Pellentesque nec neque in nibh cursus suscipit. Etiam sagittis gravida porttitor. Suspendisse ut sollicitudin turpis. Sed in sagittis massa. Mauris nec tincidunt massa. Sed enim felis, venenatis sit amet pulvinar rhoncus, tristique ac ante. Pellentesque luctus est neque, et laoreet ipsum consequat id. Nunc sagittis interdum quam ut interdum. Nam ac laoreet metus. Morbi a dui elementum, consectetur felis non, suscipit velit. Vivamus sit amet est in orci semper lobortis nec elementum ligula.
					</div>
				</div>
			</div>
		</div>
		<div class="span3">
			<div style="border: 1px solid black; height:400px; padding-left: .5em;">
				<div>
					<h2>Skyscraper</h2>
					<div style="">type</em> <strong>Building</strong>
				</div>
			</div>
		</div>
	</div>	
</div>