<div class="StaticPages">
	<div class="row">
		<div class="span8 offset2">
			<h1>Team</h1><br>
			<h2>Reed Duecy-Gibbs</h2> <em>(co-founder, product lead)</em>
			<p>Reed loves cities and likes building things that empower people to make their urban places better. He holds a B.A. in Urban and Environmental studies from Colorado College, an M.Arch from the Rhode Island School of Design and is a former Fulbright Scholar. Reed is currently a 2013 Code for America Fellow and is the product lead for OpenUrban. <a href="https://twitter.com/rduecyg">@rduecyg</a></p><br>
			<h2>Jesse Honsa</h2> <em>(co-founder, content lead: english)</em><p>Jesse is an architect living in Istanbul. He most recently won an international ideas competition with the Zagreb Society of Architects, has worked with firms in Zurich and New York, and holds a B.Arch. from the Rhode Island School of Design. <a href="https://twitter.com/JesseHonsa">@JesseHonsa</a></p><br>
			<h2>Irene Guzman</h2> <em>(co-founder, design/media)</em>
			<p>Irene is originally from Puerto Rico where she works as an architect. She holds a B.Arch. from the Rhode Island School of Design.</p><br>
			<h2>Ali Onat Turker</h2> <em>(co-founder, content lead: turkish)</em><p>Ali is an instructor in the architecture department at Bilgi University in Istanbul. He holds a BS in civil engineering from Bogazici University and an M.Arch. from the Rhode Island School of Design.</p><br>
			<h2>CJ Bryan</h2> <em>(lead developer)</em><p>CJ grew up in Allentown, PA and received a B.S. in computer science from Wooster Polytechnic Institute. He's currently a 2013 Code for America Fellow. <a href="https://twitter.com/waltz">@waltz</a></p>
			<hr>
			<p>We would also like to thank the many people and organizations that have helped make OpenUrban possible through their funding and support.</p><br>
			<ul>
				<li><a href="http://www.fulbright.org.tr/default.aspx">Turkish Fulbright Commission</a></li>
				<li><a href="http://iksv.org/tr">Istanbul Design Biennial and IKSV</a></li>
				<li><a href="http://www.kickstarter.com/projects/1157478173/openurban">Our Kickstarter Donors</a></li>
			</ul><br>
			<ul>
				<li>Cody Meeks</li>
				<li>Josh Carney</li> 
				<li>James Halliday</li> 
				<li>Jesen Tanadi</li> 
				<li>Beyza Aksoy</li> 
				<li>Marty Cline</li>
				<li>Chloe Wong</li>
				<li>Shaunak Kayshap</li>
			</ul>
		</div>
	</div>
</div>