<div class="OUforms">
	<div class="row">
		<div class="span5">
			<h2>Editing a User Form</h2>
		</div>
	</div>
	<div class="row">
		<div class="span2 offset3" style="border:1px solid black; height:100px; width: 100px;">
			<h4>image</h4>
		</div>
		<div class="span5">
			<h4>field</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>username:</h4>
		</div>
		<div class="span5">
			<h4>string</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>full name:</h4>
		</div>
		<div class="span5">
			<h4>string</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>password:</h4>
		</div>
		<div class="span5">
			<h4>string</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>city:</h4>
		</div>
		<div class="span5">
			<h4>string</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>email:</h4>
		</div>
		<div class="span5">
			<h4>email field</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>about:</h4>
		</div>
		<div class="span5">
			<h4>text field</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset5 left">
		    <h4>SAVE</h4>
		</div>
	</div>
<br>
<br>
	</div>
	<div class="row">
		<div class="span5">
			<h2>Display of User Page</h2>
		</div>
	</div>
	<div class="row">
		<div class="span2 offset3" style="border:1px solid black; height:100px; width: 100px;">
			<h4>image</h4>
		</div>
		<div class="span6">
			<h2>Username</h2>
			<p>lorum ipsum et. ad ipsom lorum et lorum ipsum et. ad ipsom lorum etlorum ipsum et. ad ipsom lorum etlorum ipsum et. ad ipsom lorum etlorum ipsum et. ad ipsom lorum etlorum ipsum et. ad ipsom lorum et</p>
			<p><strong>contact via email</strong></p>
		</div>
	</div>
</div>