<div class="OUforms">
	<div class="row">
		<div class="span5">
			<h2>Editing a User Form</h2>
		</div>
	</div>
	<div class="row">
		<div class="span2 offset3" style="border:1px solid black; height:100px; width: 100px;">
			<h4>image</h4>
		</div>
		<div class="span5">
			<h4>(upload image tbd)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Type:</h4>
		</div>
		<div class="span5">
			<h4>(Radio) Building, Transportation, Land, Other</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Action:</h4>
		</div>
		<div class="span5">
			<h4>(check Box) New Construction, Renovation, Preservation, Demolition</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Use (buildings):</h4>
		</div>
		<div class="span5">
			<h4>(checkbox) Residential, Commercial, Industrial, Institutional, Public</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Use (land):</h4>
		</div>
		<div class="span5">
			<h4>(checkbox) Residential, Commercial, Industrial, Institutional, Public</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Use (transportation):</h4>
		</div>
		<div class="span5">
			<h4>(checkbox) Air, Ship, Train, Metro, Car, Bike, Pedestrian</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Area:</h4>
		</div>
		<div class="span5">
			<h4>(int) for Type buildings and land</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Length:</h4>
		</div>
		<div class="span5">
			<h4>(int) for type transportation</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Tags:</h4>
		</div>
		<div class="span5">
			<h4>(comma separated strings with autocomplete)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Project Lead(s):</h4>
		</div>
		<div class="span5">
			<h4>(checkbox) Goverment, Private Developer, Institution, Citizen</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Status:</h4>
		</div>
		<div class="span5">
			<h4>(Radio) Idea, Design, Construction, Completed, Hold, Abandoned</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Budget:</h4>
		</div>
		<div class="span5">
			<h4>(int)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Currency:</h4>
		</div>
		<div class="span5">
			<h4>(Dropdown)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Description:</h4>
		</div>
		<div class="span5">
			<h4>(Text)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Continent:</h4>
		</div>
		<div class="span5">
			<h4>(Dropdown)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Country:</h4>
		</div>
		<div class="span5">
			<h4>(Dropdown)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>City:</h4>
		</div>
		<div class="span5">
			<h4>(String with autocomplete)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Neighborhood:</h4>
		</div>
		<div class="span5">
			<h4>(String with autocomplete)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Draw Map:</h4>
		</div>
		<div class="span5">
			<h4>(geojson)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Related Projects:</h4>
		</div>
		<div class="span5">
			<h4>(Comma separated string with autocomplete)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Twitter Feed:</h4>
		</div>
		<div class="span5">
			<h4>(string)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Translated Page:</h4>
		</div>
		<div class="span5">
			<h4>(String with Autocomplete)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset2 right">
		    <h4>Related Websites:</h4>
		</div>
		<div class="span5">
			<h4>(need to discuss)</h4>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset5 left">
		    <h4>SAVE</h4>
		</div>
	</div>
</div>

<h1>Editing project</h1>

<%= render 'form' %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>

