<div class="project">
	<div class="row">
		<div class="span12" style="margin-bottom: .3em;">
			<h1><%= @project.title %></h1>&nbsp;&nbsp;&nbsp;&nbsp;
			<%= link_to 'Edit', edit_project_path(@project) %> |
			<%= link_to 'Back', projects_path %>
		</div>
	</div>
	<div class="row">
		<div class="span9">
			<div class="row">
				<div class="span5">
					<div style="background: #CCCCCC; height:300px; margin-top">
						<div id="myCarousel" class="carousel slide">
						  <ol class="carousel-indicators">
						    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						    <li data-target="#myCarousel" data-slide-to="1"></li>
						    <li data-target="#myCarousel" data-slide-to="2"></li>
						  </ol>
						  <!-- Carousel items -->
						  <div class="carousel-inner">
						    <div class="active item">…</div>
						    <div class="item">…</div>
						    <div class="item">…</div>
						  </div>
						  <!-- Carousel nav -->
						  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
						  <a class="carousel-control right" href="#myCarousel" data-slide="next" >&rsaquo;</a>
						</div>
					</div>
				</div>
				<div class="span4">
					<div style="height:300px;" id="map"></div>
				</div>
			</div>
			<div class="row social">
				<div class="span5">
					<span class="label">TAGS</span>&nbsp;<span class="label">TAGS</span>&nbsp;<span class="label">TAGS</span>&nbsp;<span class="label">TAGS</span>
				</div>
				<div class="span1 right">
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="Open_Urban">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
				<div class="span1 right">
					<div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
				</div>
				
			</div>
			<div class="row">
				<div class="span9">
					<div class="content">
						<%= @project.body %>
					</div>
				</div>
			</div>
		</div>
		<div class="span3">
			<div style="min-height:200px; padding-left: .5em;">
				<div>
					<div class="data"><em>type</em> <strong>Building</strong></div>
				</div>
			</div>
		</div>
	</div>	
</div>

<script>
  var map = L.map('map', {
    center: [51.505, -0.09],
    zoom: 13
  });

  L.tileLayer('http://tile.stamen.com/toner/{z}/{x}/{y}.png', {
    attribution: 'foobar',
    maxZoom: 20
  }).addTo(map);
</script>