@import "bootstrap";
@import "bootstrap-responsive";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center h1 {
  margin-bottom: 0px;
}

/* colors */
$lightgray: #eeeeee;

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.25em;
  letter-spacing: -1px;
  margin-bottom: 0px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0px;
  text-align: left;
  font-weight: bold;
  color: #999;
}
h3 {
  font-size: 1.25em;
  letter-spacing: 0px;
  text-align: left;
  font-weight: bold;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
.navbar .nav > li > a
{
  color: gray;
  &:hover {
    color: black;
    text-decoration: none;
  }
}
/* sub-header */
.sub_header{
  background: #FCFCFC; 
  border-bottom: 1px solid #eeeeee; 
  margin-bottom: 1em; 
  margin-top: .75em; 
  padding: .75em;
  h1{
    display: inline;
    text-align: left;
  }
}

/* body */
.underline{
  border-bottom: 1px solid $lightgray;
  padding-bottom: .25em;
}
.hero-unit {
        background-image: url(/assets/SanFrancisco.jpg);    
}
.info_box{
  border-radius: 5px; 
  -moz-border-radius: 5px;
  box-shadow: 0 0 11px -2px gray;
  margin-top: 1em; 
  padding: 1em;
  text-align: left;
}

/* Profile */
.about{
  text-align: justify;
}

/* footer */

footer {
  margin-top: 45px;
  margin-bottom: .75em;
  padding-top: 13px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}



/* Image Carousel */
.carousel-indicators{

}
.carousel-control{
  margin-top: 3.75em;
}

 /* Static Pages */

.StaticPages {
	h1{
		text-align: left;
	}
	h2{
		display: inline;
	}
	p{
		text-align: justify;
	}
	

}

/* Forms */

.OUforms {
	h1{
		text-align: right;
		margin-bottom: .25em;
	}
	h2{
		text-align: right;
		margin-bottom: .5em;
	}
	h4{
		margin: 0px;
		margin-top: .5em;
	}
}