@import "bootstrap";
@import "bootstrap-responsive";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 0px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.25em;
  letter-spacing: -1px;
  margin-bottom: 0px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0px;
  margin-bottom: .4em;
  margin-top: 1em;
  text-align: left;
  font-weight: bold;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  margin-bottom: .75em;
  padding-top: 13px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

nonprofit {
	
}