// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Project Index */
.image_thmbnl{
    background: purple;
    height: 150px; 
    margin-top: .25em;
    width: 100%; 
}
.title_project{
	font-size: 1.25em;
	font-weight: bold;
	margin-right: 1em;
	display: inline;
	a{
		color: gray;
	}
	a:hover {
		color: black;
		text-decoration:none;
	}
}


